@import url('widgets.css');

@import url('elements.css');

@import url('../../js/poshytip-1.1/src/tip-yellow/tip-yellow.css');

@import url('isotope.css');

@font-face {
  font-family:"caviar";
  src: url(../../font/caviardreams.ttf);
}

@font-face {
  font-family: "daniel";
  src: url(../../font/daniel.ttf);
}

@font-face
{
    font-family: "quicksand";
    src: url('../../font/quicksand.otf');    
}

a {
	color: #EBE7D4;
	text-decoration: none;
}

a:hover,
a:active {
	color: black;
}

body {
  background-color: #ADA399;
  font-family: caviar;
  color: #ADA399;
  width: 100%;
  margin: 0;
}

header h1, header h2, header nav, #filter-buttons, header nav ul li a, section, table, footer h1, footer h2, article a {
  display: inline-block;
  margin: 4px;
}

header, footer { 
  z-index: 10;
  text-align: center; 
  width: 100%; 
  background-color: red; 
  border-top: 1px solid #073642;  
  border-bottom: 1px solid #073642;  
  box-shadow: 0px 1px 10px black;
}
header nav, footer {
  margin: 0px;
  padding: 0px;
}

#unable {
  background-color: grey;  
  border-color: grey;
}

section {
  width: 96%;
  margin: 0 1% 0 2%;
  padding: 0;
  text-align: center;
}  

form {
  display:inline-block;
}
  
.admin {
  display: inline-block;
  background-color: transparent;
  border: none;  
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.hide {
  background-color: transparent;
  color: transparent;
  border: none;
}

header nav ul a, #website_nav_section1, #website_nav_section2, #website_nav_section3 {
  text-decoration: none;
  border: none;
  font-size: 1.2em;
  font-family: caviar;
  background-color: transparent;
  color: #766E61;
  padding: 4px;
}

header form h1, header h1, #website_title {
  font-family: caviar;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 3em; 
  font-weight: bold;
}

  
header form h1 a, header h1 a, #website_title {
  color: #EBE7D4;
  text-decoration: none;
}

header h2, #website_subtitle, footer h2, #website_footer, #website_author {
  font-family: daniel;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

header nav ul li {
  list-style: none;
  display: inline-block;
}

article a {
  text-decoration: none;
  font-size: 1.5em;
  background-color: #766E61;
  color: #EBE7D4;
}

#navbar {background-color: red;}
header nav ul a:hover, article a:hover {
  background-color: #D75F00;
  opacity: .8;
}

header nav ul a:active, article a:active {
  opacity: 1;  
}

section h1, section #website_nav_section1, section #website_nav_section2, section #website_nav_section3 {
  font-weight: bold;
  font-size:2em;
  font-family:caviar;
}

section h2, #website_section_subtitle1, #website_section_subtitle2, #website_section_subtitle3 {
  font-weight: bold;
  font-size:1.5em;
  font-family:daniel;
	color: #888;
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #EBE7D4;
  font-family:quicksand;
  background-color: #EBE7D4;
  box-shadow: 0px 0px 5px #EBE7D4;
}

#addIdea { 
  background-color: red; 
  border: 1px solid black;
  color: #EBE7D4;
  }

button a {
  color: black;  
}

table {
  background-color: #EBE7D4;  
  color: #EBE7D4;
  border-radius: 6px;
}

article {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

td, th {
  background-color: #F7F9E7;
  }

table, td, th {
  color: #766E61;  
  font-family: quicksand;
  border: 1px inset #D75F00;
  border-collapse: collapse;
  padding: 6px;
}

table caption {
  padding: 10px;  
}

/*OTHERS*/
.wrapper {
  margin: 0 auto;
  position: relative;
}

/* FILTERED ITEMS ----------------------------------------------------*/.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#filter-buttons {
  display: inline-block;
  font-family: quicksand;
  padding: 4px;
}
#filter-buttons li {
  display: inline-block;
}
#filter-buttons li a {
  display: block;
  text-decoration: none;
  margin-bottom: 0px;
  margin-right: 10px;
  color: #EBE7D4;
  box-shadow: 0 0 2 rgb(240,240,240);
}
#filter-buttons li a:hover {
  color: white;
}
#filter-buttons li .selected {
  border-bottom: 1px dotted #EBE7D4;
}